
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1 {
  font-family: 'Press Start 2P', cursive;
}

h2, h3, h4 {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px ;
}

button {
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: black;

  &:hover, &:focus {
    color: pink;
    text-decoration: none;
    outline: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.HomeBackground {
  background-color: black;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
